* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(27, 27, 27);
  color: rgb(218, 218, 218);
  padding: 10px;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 2px solid black;
}

.closed {
  background-color: rgb(87, 87, 87);
}

.id {
  font-size: 10.5px;
}